.MainBlock{
   
    margin-left:50vh;
margin-bottom:30px;
margin-top:35px;
display: flex;
width: 480px !important;
height: 220px;
/* justify-content: center;
align-items: center; */
flex-shrink: 0;
border:2px solid white;
position: relative;

border-radius: 20px;
box-shadow: 4px 4px 20px 0px #0000001A;

}

.graph{
    width:141px;
    height:141px;
    position: relative;
    margin:28% 18%;
    transform: translate(-50%,-50%);
}
.first{
    position:absolute
    
}
.second{
    position:absolute;
    left:88px;
    transform: rotate(-1deg);

}
.third{
    position:absolute;
    left:88px;
    top:65px;
    transform: rotate(4deg);

}

.MainBlock h2{
    text-wrap: nowrap;
    position: absolute;
   margin-top: 20px;;
    left:5vh;
}


.points{
    padding:20px;
}

.points h6{
    color: var(--Secondary-Text, #858585);
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.point p{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-wrap: nowrap;
}
.point p:last-child{
    color: var(--Secondary-Text, #858585);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 24px;

}

.point{
    padding:15px 0px;
}

.point svg{
    margin-right: 10px;
}

@media screen and (max-width:450px) {
    .MainBlock{
   
    margin-left:0vh;
    margin-bottom:30px;
    
    display: flex;
    width: 350px !important;
    height: 220px;
    /* justify-content: center;
    align-items: center; */
    flex-shrink: 0;
    border:2px solid white;
    position: relative;
    
    border-radius: 20px;
    box-shadow: 4px 4px 20px 0px #0000001A;
    
    }

    .graph{
        width:141px;
        height:141px;
        position: relative;
        margin:38% 12%;
        transform: translate(-50%,-50%);
    }
    
}